body {
  text-align: center;
  font-size: 2vw;
  width: 100vw;
  background-color: #292f36;
  color: #f7fff7;
}
#startBtn {
  background-color: #3c7e7d;
  color: #f7fff7;
  border-radius: 25px;
  border: 2px solid #4ecdc4;
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
  margin: auto;
  width: 150px;
}

#resizeBtn {
  font-size: 16px;
  font-weight: 500;
  border: 2px solid #4ecdc4;
  background-color: #3c7e7d;
  color: #f7fff7;
  border-radius: 10px;
  padding: 5px;
  margin-top: 25px;
}

#gridCont {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

#grid {
  background-color: #4ecdc4;
  border: 2px solid #ff6b6b;
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 600px;
}

.row {
  flex: 1;
  display: flex;
  flex-grow: 1;
}

.tile {
  background-color: white;
  flex: 1;
  flex-grow: 1;
  width: calc(100% / var(--tiles));
  aspect-ratio: 1/1;
}

#screenShadow {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  width: 100%;
}

#popup {
  border: 3px solid;
  border-color: #4ecdc4;
  border-radius: 22px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  color: #ff6b6b;
  font-weight: 500;
  background-color: #f7fff7;
  margin: auto;
  width: 300px;
  height: 120px;
  justify-content: center;
  flex-shrink: 1;
}

.popupItem {
  margin: auto;
}

#popupTitle {
  color: #292f36;
  font-weight: bold;
  font-size: 16px;
}
#popupInput {
  border-color: #3c7e7d;
  border-radius: 10px;
  border: 2px solid;
  width: 150px;
  font-size: 12px;
}
#popupInput:focus {
  border: 3px solid #ff6b6b;
  outline: none;
}

.popupBtn {
  width: 100px;
  font-size: 14px;
  font-weight: 600;
  color: #f7fff7;
  background-color: #3c7e7d;
  border-radius: 10px;
  border: 2px solid;
  border-color: #292f36;
  padding: 2px 5px 2px 5px;
  margin: auto;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
